<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage 😀</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</head>
<body>
    <!--navbar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        
        <div class="container-fluid">
            <div class="container">
                <a class="navbar-brand" href="#">
                  <img src="{% static 'images/univdp.jpeg' %}" alt="" width="30" height="24">
                </a>
                <a class="navbar-brand " href="#">CrestView</a>
              </div>
         
         

            <form class="d-flex">
              
              <button class="btn btn-outline-success" type="Login">Login</button>
            </form>
          </div>
        </div>
      </nav>
    
    <!-- Header-->
<Header class = "masthead d-flex align-items-center">
    
    <div class="container px-4 px-lg-5 text-center">
            <h1  class="typewriter">CrestView University</h1>
            <h3 class="mb-5"><em>Minds move mountains.</em></h3>
            <a class="btn btn-primary btn-xl" href="#about">Find Out More</a>
    </div>
    




</Header>







</body>
</html>

